
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" method="post" class="search-form">
                <input type="text" class="search-field" v-model="product">
                <p v-if="product in products">{product}</p>
                <button class="btn-search" type="submit"  @click="clickHandler()">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button">Корзина</button>
            <div class="cart-block invisible"></div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="el of products" :key="el.id_product">
                <img :src="imgCatalog" :alt="el.product_name">
                <div class="desc">
                    <h3>{{el.product_name}}</h3>
                    <p>{{el.price}}</p>
                    <button class="buy-btn" @click="addProduct(el)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="homework5.js"></script>
</body>
</html>